*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.img-logo{
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}
header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.contenedor{
    width: 98%;
    margin: auto;
}
h1{
    float: left;
    padding-top: 5px;
}
h2{
    padding-bottom: 20px;
}
#menu-bar{
    display: none;
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0px;
    cursor: pointer;
}
header .contenedor{
    display: table;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.menu a:hover{
    background: rgba(255,255,255,0.3);
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}
section{
    width: 100%;
    margin-bottom: 25px;
}
#banner{
    margin-top: 50px;
    position: relative;
}
#banner img{
    width: 100%;
    height: 100%;
}
#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-weight: bold;
}
#banner h2{
    font-size: 28px;
}
#banner a{
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}
#banner a:hover{
    background: rgba(51, 51, 51, 1);
}
#bienvenidos{
    text-align: center;
}
#servicios h3,h4{
    text-align: center;
}
#servicios .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#servicios article{
    margin: 15px;
}
#servicios img{
    width: 100%;
    max-width: 250px;
}
#info{
    background: #333;
    color: white;
    text-align: center;
    padding:50px;    
}
#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info{
    margin: 20px;
}
.info img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid white;
}

#team{    
    text-align: center;
    padding:50px;    
}
#team .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.equipo img{
    width: 200px;
    height: 200px;    
    border-radius: 50%;
    border: 7px solid lightgray; 
    margin: 10px 20px;
}
.equipo h4{
    font-size: 20px;
}
.equipo h5{
    font-size: 15px;
    color: darkgrey;
}
.equipo a{
    font-size: 25px;
    color: #333;    
    padding: 10px;       
}
#contacto{    
    text-align: center; 
    background: #333;      
}
#contacto h2{
   padding-top: 20px;
   color: white;
}
#contacto .contenedor{    
    display: flex;  
    flex-wrap: wrap;
    justify-content: center; 
    padding-bottom: 20px;   
}
.btn-enviar{
    padding-bottom: 20px; 
}
.input-form{
    width: 85%;    
    padding: 15px;
    margin: 8px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}
#boton-enviar{
    padding: 15px 30px;
    background: darkblue;
    border-radius: 5px;
    color: white;
    border: none;
}
#boton-enviar:hover{
    background:blue; 
}
footer{
    background: white;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px; 
    color:#333;   
}
.copy{
    font-size: 20px;
    padding-bottom: 10px;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a{
    color:#333;
    text-decoration: none;
}